extends layout

block content
  h1 #{title}

  form.form(action="/register" method="POST")
    label(for="name") Name
    input(type="text" name="name")
    label(for="email") Email
    input(type="email" name="email")
    label(for="password") Password
    input(type="password" name="password")
    input.button(type="submit" value="Register →")
